@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply w-full p-6 flex flex-row items-center justify-between;
}

.header > .title,
.header > .actions {
  @apply flex flex-row items-center gap-2;
}

.header > .actions {
  @apply opacity-60;
}

.header > .title > h2 {
  @apply text-sm font-sans font-medium;
}

.icon-btn {
  @apply bg-transparent border-none rounded-full p-2 hover:opacity-50 transition-all;
}

.editor {
  counter-reset: line;
  @apply w-auto min-h-full h-auto font-mono;
}

.editor #code {
  @apply outline-none pl-16 !important;
}

.editor pre {
  @apply pl-16 !important;
}

.editor .editor-line-number {
  @apply absolute left-0 text-gray-300 text-right w-10 font-light;
}

.console {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  @apply h-full w-full overflow-hidden bg-gray-900;
}

.success {
  @apply text-green-400 py-4;
}

.error {
  @apply text-red-400 py-4;
}

.error-line {
  @apply text-red-400 bg-red-600 bg-opacity-10 !important;
}
